<?xml version="1.0" encoding="utf-8"?><!--
  ~ Unitto is a calculator for Android
  ~ Copyright (c) 2024-2025 Elshan Agaev
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".UnittoApplication"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/calculator_title"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="false"
        android:theme="@style/Theme.Unitto"
        tools:targetApi="tiramisu">

        <activity
            android:name=".MainActivity"
            android:allowTaskReparenting="true"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/calculator_title">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.sadellie.unitto"
                    android:scheme="app" />
            </intent-filter>
        </activity>

        <service
            android:name=".UnittoTileService"
            android:exported="true"
            android:icon="@drawable/tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
    </application>

</manifest>