<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".UnittoApplication"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/calculator"

        android:supportsRtl="false"
        android:theme="@style/Theme.Unitto">
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".MainActivity"
            android:allowTaskReparenting="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/calculator">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="app" android:host="com.sadellie.unitto" />
            </intent-filter>
        </activity>

        <service
            android:name=".UnittoTileService"
            android:icon="@drawable/tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
</application>

</manifest>