<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".UnittoApplication"
        android:icon="@mipmap/ic_launcher_1_green"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.Unitto">
        <activity
            android:name=".MainActivity"
            android:allowTaskReparenting="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/epoch_converter">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="app" android:host="com.sadellie.unitto" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".custom.MainActivity2"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_1_red"
            android:enabled="false"
            android:allowTaskReparenting="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".custom.MainActivity3"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_1_orange"
            android:enabled="false"
            android:allowTaskReparenting="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".custom.MainActivity4"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_2_green"
            android:label="@string/calculator"
            android:enabled="false"
            android:allowTaskReparenting="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".custom.MainActivity5"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_2_red"
            android:label="@string/calculator"
            android:enabled="false"
            android:allowTaskReparenting="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".custom.MainActivity6"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_2_orange"
            android:label="@string/calculator"
            android:enabled="false"
            android:allowTaskReparenting="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".custom.MainActivity7"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_3_green"
            android:label="@string/calculator"
            android:enabled="false"
            android:allowTaskReparenting="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".custom.MainActivity8"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_3_red"
            android:label="@string/calculator"
            android:enabled="false"
            android:allowTaskReparenting="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".custom.MainActivity9"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_3_orange"
            android:label="@string/calculator"
            android:enabled="false"
            android:allowTaskReparenting="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>